body{
    padding: 15px 100px 15px 100px;
}

table{
    font-family: Arial, SansSerif;
    border-collapse: collapse;
    border: 1px solid lightgray;
    width: 100%;
}
td,th{
    text-align: left;
    padding: 8px;
    border: 1px solid lightblue;
}
tr{
    /*background-color: #D6EEEE;*/
    border: 1px solid #DDD;
}
tr:hover{
    background-color: #D6EEEE;
}

#bajra{
    background-color: aqua;
}

.posebniParagrafi{
    font-weight: bold;
    color: cadetblue;
}

.pozadina{
    background-color: brown;
}

.formDiv{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.on-hover {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}